body {
	color: black;
	text-align: center;
	background: <img src="images/rundog.jpg">;
	background-size: cover;
}

#slogan {
	text-align: center;
	color: black;
	text-transform: bold; 
}

#splash {
	text-align: center;
}

h1, p {
	text-align: center;
	color: red;
}