
#slogan {
	text-align: center;
	color: black;
	text-transform: bold; 
	font-size: 22px;
}

#splash {
	text-align: center;
}

#main {
	text-align: left;
	color: black;
}

h1, p {
	text-align: center;
	color: black;
}

#contact {
	text-align: left;

}
