@import url(https://fonts.googleapis.com/css?family=Cambay:700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:900);

body {
	background-color: gray;
}

h1 {
	font-family: 'Alegreya SC', serif;
	letter-spacing: 1px;
}

h3 {
	font-family: 'Alegreya SC', serif;
	letter-spacing: 1px;
}

p {
	font-family: 'Cambay', sans-serif;

}

#title {
	font-family: 'Alegreya SC', serif;
	color: black;
	text-align: center;
	font-size: 60px;
}

#slogan {
	text-align: center;
	font-style: italic;
	color: red; 
	font-size: 22px;
}

#splash {
	text-align: center;
}

#main {
	text-align: center;
}



