@import url(https://fonts.googleapis.com/css?family=Cambay:700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:900);

body {
	font-size: 16px
	width: 980px;
}

header {
	background-color: white;
	padding: 20px;
	text-align: center;
}

nav {
	border: 1px black solid;
	padding: 20px;
}

article {
	background-image: url(http://olinberger.github.io/unit_8/images/rundog.jpg);
	background-size: cover; 
	padding: 20px;
}

footer {
	padding: 20px;
	text-align: center;
}

div/section {
	padding: 20px;
}

h1{
	font-size: 2em;
	font-family: 'Alegreya SC', serif;
	letter-spacing: 1px;
}

h3{
	font-family: 'Alegreya SC', serif;
	font-size: 1.5em; 
	letter-spacing: 1px;
}

p {
	font-family: 'Cambay', sans-serif;
	font-size: 1em;

}

#four_column {
	padding: 1.25em;
	align-content: center;
}

.left {
	padding: 1.25em;
	float: left;
	width: 25%;
}

#right {
	font-size: 2em;
	padding: 1.25em;
	float: right;
	width: 25%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} 

#slogan {
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 1px;
}


