@import url(https://fonts.googleapis.com/css?family=Cambay:700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:900);

body {
	font-size: 16px
	width: 100%;
	padding: 10px;
}

header {
	width: 90%;
	background-color: white;
	height: 1.5em;
	padding: 1.5em;
	text-align: center;
}

nav {
	height: 50px;
	width: 75%;
	color: #000;
	font-size: 1em;
	display: block;
	padding: 1em;
}

article {
	background-image: url(http://olinberger.github.io/unit_8/images/rundog.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	width: 75%;
	padding: 1.25em;
}

footer {
	padding: 1.25em;
	width: 75%;
	text-align: center;
}

div/section {
	padding: 1.25em;
}

h1{
	font-size: 2em;
	font-family: 'Alegreya SC', serif;
	letter-spacing: 1px;
}

h3{
	font-family: 'Alegreya SC', serif;
	font-size: 1.5em; 
	letter-spacing: 1px;
}

p {
	font-family: 'Cambay', sans-serif;
	font-size: 1em;

}

#four_column {
	padding: 1.25em;
	align-content: center;
}

.left {
	padding: 2em;
	float: left;
	width: 17%;
}

.right {
	font-size: 1.25em;
	padding: 1em;
	float: right;
	width: 10%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} 

#slogan {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 3em;
	text-align: center;
	letter-spacing: 1px;
	width: 75%;
}

@media only screen and (max-width: 1340px) {
  nav {
    display: block;
    text-align: center;
  }

.right {
	float: none;
}

}	

@media only screen and (max-width: 1125px) {

body {
	font-size: 12px;
}

.left{
	float: none;
	width: 100%;
}

}

@media only screen and (max-width: 320px) {
body {
	font-size: 8px;
}

}


