@import url(https://fonts.googleapis.com/css?family=Cambay:700italic);
@import url(https://fonts.googleapis.com/css?family=Alegreya+SC:900);

header {
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

nav {
	border: 1px black solid;
	padding: 20px;
}

article {
	border: 1px black solid;
	padding: 20px;
}

footer {
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}

div/section {
	border: 1px black solid;
	padding: 20px;
}


body {
	background-image: url(http://olinberger.github.io/unit_8/images/rundog.jpg);
	background-size: cover; 
	font-size: 16px
}

h1,h3 {
	font-family: 'Alegreya SC', serif;
	letter-spacing: 1px;
}

p {
	font-family: 'Cambay', sans-serif;

}

#four_column {
	border: 1px black solid;
	padding: 20px;
	align-content: center;
}

.left {
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 21%;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
} 

#slogan {
	text-align: center;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 3em;
	letter-spacing: 1px;
}


