body {
	background-color: gray;
}

#title {
	color: black;
	text-align: center;
	font-size: 60px;
}

#slogan {
	text-align: center;
	color: red;
	text-transform: bold; 
	font-size: 22px;
}

#splash {
	text-align: center;
}

#main {
	text-align: left;
	color: black;
}

#contact {
	text-align: left;

}
